{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'stylesmymaps.css' %}" type="text/css">
  <title>Liste des voitures</title>

<body>
    <form method="post" action="{% url 'car_select' %}">
        <select name="car_id" class="my-select" >
          {% for car in cars %}
            <option value="{{ car.id }}">{{ car }}</option>
          {% endfor %}
        </select>
        {% csrf_token %}
        {% if request.session.langue == 'fr' %}
            <button type="submit" >Voir l'historique des prix</button>
        {% else %}
            <button type="submit" >View price history</button>  
        {% endif %}
      </form>
        {% if car_selected %}
            {% if request.session.langue == 'fr' %}
                <h1>Historique des Prix de {{ car_selected }}</h1>
            {% else %}
                <h1>Price history of {{ car_selected }}</h1>
            {% endif %}
      <canvas id="priceChart" style="width: 40%;"></canvas>
  
      <script>
        
        const ctx = document.getElementById('priceChart').getContext('2d');
        // Vérifie la langue depuis la session
    const labelPrix = `{% if request.session.langue == 'fr' %}Prix{% else %}Price{% endif %}`;
        const priceChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ dates|safe }},
                datasets: [{
                    label: labelPrix,
                    data: {{ price_values|safe }},
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false,
                }]
            },
            options: {
                scales: {
                    x: {
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 5,  // Limite le nombre d'étiquettes sur l'axe X
                        },
                    },
                    y: {
                        ticks: {
                            stepSize: 50000,  // Ajuste l'intervalle entre les étiquettes sur l'axe Y
                        },
                    }
                },
                aspectRatio: 2.5,
            }
        });
      </script>
    {% endif %}
</body>
{% endblock content %}