{% comment %} {% extends 'base.html' %}
{% block content %}

{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'stylesmymaps.css' %}" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historique des Prix de {{ car }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Historique des Prix de {{ car }}</h1>
    <canvas id="priceChart"style="width: 60%;"></canvas>
<script>
    const ctx = document.getElementById('priceChart').getContext('2d');
    const priceChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ dates|safe }},
            datasets: [{
                label: 'Prix',
                data: {{ price_values|safe }},
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2,
                fill: false,
            }]
        },
        options: {
            scales: {
                x: {
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 5,  // Limite le nombre d'étiquettes sur l'axe X
                    },
                },
                y: {
                    ticks: {
                        stepSize: 50000,  // Ajuste l'intervalle entre les étiquettes sur l'axe Y
                    },
                }
            }
        }
    });
</script>

{% endblock content %}
 {% endcomment %}