{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'stylesmymaps.css' %}" type="text/css">


     <h4>Site Web concu par Fcr un "jeune" passionné pour des passionnés</h4>
   
    </br>

        <a>Vous avez des ameliorations, des idées a ajouter ou autre a sousmettre envoyer moi un mail : </a><a href="mailto: tduscmaps@gmail.com">tduscmaps@gmail.com</a>
   
        </br>
    </br>
        <a>Merci a Flaw pour la mise en avant du site. </a> 
        <br>
    </br>
        <a>Mr Quiche pour son aide pour les collectibles et épaves , Karl , Kuro et tout les contributeurs qui ajoute des données. </a>
        </br>
        <a>Le ROI est de retour , Vive le Roi !!!! </a>
        <br>
    </br>
        <a>et bien sur les Yatcheeeees</a>

       
       
        
{% endblock %}