{% extends 'base.html' %}
{% block content %}

{% load static %}

<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
<link rel="stylesheet" href="{% static 'stylesmymaps.css' %}" type="text/css">

{% if request.session.langue == 'fr' %}
    <div>
        <!-- Image de la bannière -->
        {% comment %} <div class="image-container">
            <img id="banner" src="{% static 'images/sharps_Luxe.1d79d72.jpg' %}" alt="Bannière Test Drive" />
            <img id="banner" src="{% static 'images/test-drive-unlimited-solar-crown-header-art2.jpg' %}" alt="Bannière Solar Hotel" />
            <img id="banner" src="{% static 'images/sharps_Solar_Hotel.2342470.jpg' %}" alt="Bannière key of Test Drive" />
        </div>  {% endcomment %}

        <h1 id="footer">Route de Farm</h1>
        
        <h3> Tuto concu et réalisé par SamouraiiiiDz <a href="https:///www.twitch.tv/samouraiiiidz" target="_blank">retrouver le ici</a></h3>

        <h6>Farm road TDU 
            Temps réalisé avec ip max (véhicules améliorés et pneus slicks) et aides suivantes :</p>
            <h6> abs 100 - tcs 0 = +25% bonus de revenu de course supplémentaire 
            <h6> 💦 = pneus standard car piste humide </h6>
          
            
            <h6>Revenus totaux par jour :  234968  / 16 min</h6>
            
            
            <div class="text-and-image-container">
                <div class="text-container">
                    <h6> Courses à 10.000 </h6>
                    <h6> Bonus aide conduite : 2500 </h6>
                    <h6> Bonus argent 6660 </h6>
                    <h6> Montant total = 19160 </h6>
                    <h6>Course de trot (solar hotel) - 1m30s -2cv </h6>
                </div>
                <div class="image-container">        
                <img id="banner" src="{% static 'images/d2_course_trot.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
            </div>  
            <div class="text-and-image-container">   
                    <h6>Route des ferrys  - 1m00 -  TTRS 💦</h6>
                    <div class="image-container">        
                        <img id="banner" src="{% static 'images/d13_route_ferrys.jpg' %}" alt="Maps Ibiza" width="1400">
                    </div>
            </div>
            <div class="text-and-image-container">
                <div class="text-container">
                    <h6>Sur les docks -1m00 -TTRS</h6> 
                </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d14_sur_les_docks.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>   
            </div>    
            
            <div class="text-and-image-container">
                <div class="text-container">
                    <h6>Courses à 11.000 </h6>
                    <h6> Bonus aide conduite : 2750 </h6>
                    <h6> Bonus argent 7326 </h6>
                    <h6> Montant total = 21076 </h6>
                    <h6>Voie royale - 1m10 - TTRS 💦</h6>
                </div>
                    <div class="image-container">        
                        <img id="banner" src="{% static 'images/d2_voie_royale.jpg' %}" alt="Maps Ibiza" width="1400">
                    </div>
            </div> 
                    
                
                
            <div class="text-and-image-container"> 
                <div class="text-container">
                    <h6> Route des bateliers - 1m20s - 488 pista</h6>
                </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d2_route_batelier.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
            </div> 
            
            <div class="text-and-image-container"> 
                <div class="text-container">
                    <h6>Visite centre ville - 1m20s -TT RS💦</h6>
                </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d2_visite_centre_ville.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
            </div> 
         
            <div class="text-and-image-container"> 
                <div class="text-container">
                    <h6>Transport de marchandise - 1m20- delta </h6>
                </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d8_transport_marchandise.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
            </div> 
         
            <div class="text-and-image-container"> 
                <div class="text-container">
                    <h6>Traversée de western district -1m28-veyron 💦</h6>
                </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d14_traversee_western.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
                
            </div>
                    
            <div class="text-and-image-container">
                <div class="text-container">
                    <h6> Courses à 12.000 </h6>
                    <h6> Bonus aide conduite : 3000 </h6>
                    <h6> Bonus argent 7192 </h6>
                    <h6> Montant total = 22292 </h6>
                    <h6>Soleil levant - 1m32- 918 SPYDER 💦</h6>
                </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d1_soleil_levant.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
            </div>   
                    
            <div class="text-and-image-container">
                <div class="text-container">
                    <h6> Courses à 13.000 </h6>
                    <h6> Bonus aide conduite : 3250 </h6>
                    <h6> Bonus argent 8568 </h6>
                    <h6> Montant total = 24908 </h6>
                    <h6>Défilé de gratte-ciel -1m40-TTRS 💦</h6>
                </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d8_defile_gratte_ciel.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
            </div> 
            <div class="text-and-image-container">
                <div class="text-container">
                   
                    <h6>Excès de vitesse - 1m48 - 918 spyder 💦</h6>
                </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d8_defile_gratte_ciel.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
            </div> 
            <div class="text-and-image-container">
                <div class="text-container">
                   
                    <h6>Autoroute du paradis - 2m38 - 918 spyder </h6>
                </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/paradis.png' %}" alt="Maps Ibiza" width="1400">
                </div>
            </div> 


      

        
    </div>
        <footer>
            <div class="container2">
                <p>By <a href="https://www.youtube.com/@fcr_77" target="_blank">FCR</a> Septembre 2024</p>
                <a href="https://www.mon-compteur.fr">
                    <img src="https://www.mon-compteur.fr/html_c01genv2-242818-3" alt="compteur" border="0" />
                </a><br>
            </div>
        </footer>  
    </div>
{% else %}
<div>
    <!-- Image de la bannière -->
    {% comment %} <div class="image-container">
        <img id="banner" src="{% static 'images/sharps_Luxe.1d79d72.jpg' %}" alt="Bannière Test Drive" />
        <img id="banner" src="{% static 'images/test-drive-unlimited-solar-crown-header-art2.jpg' %}" alt="Bannière Solar Hotel" />
        <img id="banner" src="{% static 'images/sharps_Solar_Hotel.2342470.jpg' %}" alt="Bannière key of Test Drive" />
    </div>  {% endcomment %}

    <h1 id="footer">Farm Road</h1>
    
    <h3> Tuto designed and created by SamouraiiiiDz <a href="https:///www.twitch.tv/samouraiiiidz" target="_blank">find it here</a></h3>

    <h6>Farm road TDU 
        Time achieved with ip max (upgraded vehicles and slicks) and the following aids  :</p>
        <h6> abs 100 - tcs 0 = +25% additional race income bonus
        <h6> 💦 = standard tires for wet tracks </h6>
       
        
        <h6>Total revenue per day :  234968  / 16 min</h6>
        
        
        <div class="text-and-image-container">
            <div class="text-container">
                <h6> Races 10.000 </h6>
                <h6> Driving assistance bonus : 2500 </h6>
                <h6> Money bonus 6660 </h6>
                <h6> Total amount = 19160 </h6>
                <h6>Course de trot (solar hotel) - 1m30s -2cv </h6>
            </div>
            <div class="image-container">        
            <img id="banner" src="{% static 'images/d2_course_trot.jpg' %}" alt="Maps Ibiza" width="1400">
            </div>
        </div>  
        <div class="text-and-image-container">   
                <h6>Route des ferrys  - 1m00 -  TTRS 💦</h6>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d13_route_ferrys.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
        </div>
        <div class="text-and-image-container">
            <div class="text-container">
                <h6>Sur les docks -1m00 -TTRS</h6> 
            </div>
            <div class="image-container">        
                <img id="banner" src="{% static 'images/d14_sur_les_docks.jpg' %}" alt="Maps Ibiza" width="1400">
            </div>   
        </div>    
        
        <div class="text-and-image-container">
            <div class="text-container">
                <h6>Races  11.000 </h6>
                <h6> Driving assistance bonus : 2750 </h6>
                <h6> Money bonus 7326 </h6>
                <h6> Total amount = 21076 </h6>
                <h6>Voie royale - 1m10 - TTRS 💦</h6>
            </div>
                <div class="image-container">        
                    <img id="banner" src="{% static 'images/d2_voie_royale.jpg' %}" alt="Maps Ibiza" width="1400">
                </div>
        </div> 
                
            
            
        <div class="text-and-image-container"> 
            <div class="text-container">
                <h6> Route des bateliers - 1m20s - 488 pista</h6>
            </div>
            <div class="image-container">        
                <img id="banner" src="{% static 'images/d2_route_batelier.jpg' %}" alt="Maps Ibiza" width="1400">
            </div>
        </div> 
        
        <div class="text-and-image-container"> 
            <div class="text-container">
                <h6>Visite centre ville - 1m20s -TT RS💦</h6>
            </div>
            <div class="image-container">        
                <img id="banner" src="{% static 'images/d2_visite_centre_ville.jpg' %}" alt="Maps Ibiza" width="1400">
            </div>
        </div> 
     
        <div class="text-and-image-container"> 
            <div class="text-container">
                <h6>Transport de marchandise - 1m20- delta </h6>
            </div>
            <div class="image-container">        
                <img id="banner" src="{% static 'images/d8_transport_marchandise.jpg' %}" alt="Maps Ibiza" width="1400">
            </div>
        </div> 
     
        <div class="text-and-image-container"> 
            <div class="text-container">
                <h6>Traversée de western district -1m28-veyron 💦</h6>
            </div>
            <div class="image-container">        
                <img id="banner" src="{% static 'images/d14_traversee_western.jpg' %}" alt="Maps Ibiza" width="1400">
            </div>
            
        </div>
                
        <div class="text-and-image-container">
            <div class="text-container">
                <h6>Races  12.000 </h6>
                <h6> Driving assistance bonus : 3000 </h6>
                <h6> Money bonus 7192 </h6>
                <h6> Total amount = 22292 </h6>
                <h6>Soleil levant - 1m32- 918 SPYDER 💦</h6>
            </div>
            <div class="image-container">        
                <img id="banner" src="{% static 'images/d1_soleil_levant.jpg' %}" alt="Maps Ibiza" width="1400">
            </div>
        </div>   
                
        <div class="text-and-image-container">
            <div class="text-container">
                <h6> Races  13.000 </h6>
                <h6> Driving assistance bonus : 3250 </h6>
                <h6> Money bonus 8568 </h6>
                <h6> Total amount = 24908 </h6>
                <h6>Défilé de gratte-ciel -1m40-TTRS 💦</h6>
            </div>
            <div class="image-container">        
                <img id="banner" src="{% static 'images/d8_defile_gratte_ciel.jpg' %}" alt="Maps Ibiza" width="1400">
            </div>
        </div> 
        <div class="text-and-image-container">
            <div class="text-container">
               
                <h6>Excès de vitesse - 1m48 - 918 spyder 💦</h6>
            </div>
            <div class="image-container">        
                <img id="banner" src="{% static 'images/d8_defile_gratte_ciel.jpg' %}" alt="Maps Ibiza" width="1400">
            </div>
        </div> 


  

    
</div>
    <footer>
        <div class="container2">
            <p>By <a href="https://www.youtube.com/@fcr_77" target="_blank">FCR</a> Septembre 2024</p>
            <a href="https://www.mon-compteur.fr">
                <img src="https://www.mon-compteur.fr/html_c01genv2-242818-3" alt="compteur" border="0" />
            </a><br>
        </div>
    </footer>  
</div> 
{% endif %}



{% endblock content %}
