{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
<link rel="stylesheet" href="{% static 'stylesmaps.css' %}" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<style>
    .video-container {
        display: flex;
        justify-content: center; /* Centre horizontalement */
        
        height: 100vh; /* La page prend 100% de la hauteur */
    }

    iframe {
        width: 560px; /* Largeur de la vidéo */
        height: 315px; /* Hauteur de la vidéo */
    }
</style>
{% if request.session.langue == 'fr' %}
    <h1 id="footer">Maps interactive pour Eivissa sur Ibiza </h1>

    <div class="white-background">
            
        <div class="row justify-content-center py-2">
        <a
            class="col-3 btn btn-outline-secondary me-3" class="menu-btn"
            href="{% url 'mymaps_ibiza' %}" 
        >ma carte ibiza</a>
        <a
            class="col-3 btn btn-outline-secondary ms-3"
            href="{% url 'myiti_ibiza' %}" 
        >Mes itinéraires ibiza</a
            >
        </div>
    </div>


    
    <!-- Div où la carte va être affichée -->
    <div id="container">
        <div id="menu">
       
                  
            <button id="toggle-all" class="menu-btn" data-fr="Afficher/Cacher tout" data-en="Show/Hide All">Afficher/Cacher tout</button>
            
               
            <select id="district-select" class="menu-btn"style="appearance: auto;">
             
              
                <option value="all">Sélection du district:</option>
            
                <option value="1">District 1</option>
                <option value="2">District 2</option>
                <option value="3">District 3</option>
                <option value="4">District 4</option>
                <option value="5">District 5</option>
                <option value="6">District 6</option>
                
            </select>
            <button id="toggle-solarCoins" class="menu-btn">
                <img src="{% static 'images/SolarCoins.png' %}" alt="Solar Coins"> Solar Coins
            </button>
            
            <button id="toggle-clan" class="menu-btn">
                <img src="{% static 'images/clan.png' %}" alt="Clan"> Clan
            </button>
             
            
           
            <select id="districtvideo-select" class="menu-btn">
               
                    <option value="">Sélectionner le tuto vidéo</option>
                
                <option value="district1">District 1</option>
                <option value="district2">District 2</option>
                <option value="district3">District 3</option>
                <option value="district4">District 4</option>
                <option value="district5">District 5</option>
                <option value="district6">District 6</option>
                
            </select>
            
            <button id="toggle-flaw" class="menu-btn">
                <img src="{% static 'images/channels4_profile.jpg' %}" alt="yt Flaw">Youtube Flaw Motore
            </button>
        </div>
        <div id="map"></div>
        
    </div>
    <footer>
        <div class="container2">
            <p>By <a href="https://www.youtube.com/@fcr_77" target="_blank">FCR</a> Septembre 2024</p><a href="https://www.mon-compteur.fr">
                
        <img src="https://www.mon-compteur.fr/html_c01genv2-242818-3" alt="compteur" border="0" /></a><br>
        <p>images © Nacon - KT Racing</p>
        </div>
        
        
    </footer>  
   
{% else %}
    <h1 id="footer">Interactive Ibiza, eivissa Map TDUSC</h1>

    <div class="white-background">
            
        <div class="row justify-content-center py-2">
        <a
            class="col-3 btn btn-outline-secondary me-3" class="menu-btn"
            href="{% url 'mymaps_ibiza' %}" 
        >my map Ibiza</a>
        <a
            class="col-3 btn btn-outline-secondary ms-3"
            href="{% url 'myiti_ibiza' %}" 
        >My itineraries Ibiza</a
            >
        </div>
    </div>



    
    <!-- Div où la carte va être affichée -->
    <div id="container">
        <div id="menu">
       
            
            <button id="toggle-all" class="menu-btn" data-fr="Afficher/Cacher tout" data-en="Show/Hide All">Show/Hide all</button>
            
               
            <select id="district-select" class="menu-btn"style="appearance: auto;">
             
            
                <option value="all">District selection:</option>  
               
                <option value="1">District 1</option>
                <option value="2">District 2</option>
                <option value="3">District 3</option>
                <option value="4">District 4</option>
                <option value="5">District 5</option>
                <option value="6">District 6</option>
                
            </select>
            <button id="toggle-solarCoins" class="menu-btn">
                <img src="{% static 'images/SolarCoins.png' %}" alt="Solar Coins"> Solar Coins
            </button>
            
            <button id="toggle-clan" class="menu-btn">
                <img src="{% static 'images/clan.png' %}" alt="Clan"> Clan
            </button>
             
            
           
            <select id="districtvideo-select" class="menu-btn">
                
                    
                <option value="">Select the video tutorial</option>
                
                <option value="district1">District 1</option>
                <option value="district2">District 2</option>
                <option value="district3">District 3</option>
                <option value="district4">District 4</option>
                <option value="district5">District 5</option>
                <option value="district6">District 6</option>
                
            </select>
            
            <button id="toggle-flaw" class="menu-btn">
                <img src="{% static 'images/channels4_profile.jpg' %}" alt="yt Flaw">Youtube Flaw Motore
            </button>
        </div>
        <div id="map"></div>
        
    </div>
    <footer>
        <div class="container2">
            <p>By <a href="https://www.youtube.com/@fcr_77" target="_blank">FCR</a> Septembre 2024</p><a href="https://www.mon-compteur.fr">
                
        <img src="https://www.mon-compteur.fr/html_c01genv2-242818-3" alt="compteur" border="0" /></a><br>
        <p>images © Nacon - KT Racing</p>
        </div>
        
        
    </footer> 
    
{% endif %}
 
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/mapibiza.js' %}"></script>

{% endblock content %}