{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
<link rel="stylesheet" href="{% static 'stylesmymaps.css' %}" type="text/css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<style>
    .video-container {
        display: flex;
        justify-content: center; /* Centre horizontalement */
        
        height: 100vh; /* La page prend 100% de la hauteur */
    }

    iframe {
        width: 560px; /* Largeur de la vidéo */
        height: 315px; /* Hauteur de la vidéo */
    }
</style>

<h1 id="footer">Bienvenue a Ibiza, eivissa </h1>

<p>Rappel l'ile d'Ibiza dans TDU 2</p>

<img id="test" src="{% static 'images/mapibizatdu.jpg' %}" alt="Maps Ibiza" width="1400">



<h3>Maps interactive pour Eivissa sur Ibiza tres prochainement</h3>
<!-- Div où la carte va être affichée -->
<div id="container">
    <div id="menu">
        <button id="toggle-all" class="menu-btn" data-fr="Afficher/Cacher tout" data-en="Show/Hide All">Afficher/Cacher tout</button>
        <button id="toggleMarkers" class="menu-btn" data-fr="Afficher/Cacher Favoris" data-en="Show/Hide All">Afficher/CacherFavoris</button>
        <button id="togglerassemblement" class="menu-btn" data-fr="Afficher/Cacher rassemblement" data-en="Show/Hide All">Afficher/Cacher Rassemblement</button>
        <button id="togglestation" class="menu-btn" data-fr="Afficher/Cacher station" data-en="Show/Hide All">Afficher/Cacher Station</button>
        <button id="togglesatelier" class="menu-btn" data-fr="Afficher/Cacher atelier" data-en="Show/Hide All">Afficher/Cacher Atelier</button>
        <button id="togglesconcession" class="menu-btn" data-fr="Afficher/Cacher concession" data-en="Show/Hide All">Afficher/Cacher Concession</button>
        <button id="togglesclan" class="menu-btn" data-fr="Afficher/Cacher clan" data-en="Show/Hide All">Afficher/Cacher Clan</button>
        <button id="togglessolar" class="menu-btn" data-fr="Afficher/Cacher solar" data-en="Show/Hide All">Afficher/Cacher Solar hotel</button>
        <select id="friendSelect" class="menu-btn">
            <option value="">Choisir un ami</option>
            <!-- Options pour les amis seront ajoutées ici dynamiquement -->
        </select>
     
    </div>
    <div id="map"></div>
    
</div>

<p>Video pour rappel ou decouvrir Ibiza</p>

<div class="video-container">
    <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/yQtXg3o5QFE?start=9" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe>
</div>
<script src="{% static 'js/map.js' %}"></script>
<script src="{% static 'js/mapibiza.js' %}"></script>

{% endblock content %}