{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'stylesmymaps.css' %}" type="text/css">
<div class="container text-center px-5">
    <!-- Début du conteneur avec fond blanc -->
      <div class="white-background">
       
        <div class="row justify-content-center py-4">
        {% if request.session.langue == 'fr' %}
          <a
            class="col-3 btn btn-outline-secondary me-3"
             href="{% url 'choix_modele' %}" 
          >Creer un réglage</a>
        {% else %}
            <a
            class="col-3 btn btn-outline-secondary me-3"
            href="{% url 'choix_modele' %}" 
        >Create a setting </a>
        {% endif %}
        {% if request.session.langue == 'fr' %}
          <a
            class="col-3 btn btn-outline-secondary ms-3"
            href="{% url 'mes_reglages' %}" 
          >Modifier mes réglages</a>
        {% else %} 
            <a
                class="col-3 btn btn-outline-secondary ms-3"
                href="{% url 'mes_reglages' %}" 
            >Modify my settings</a>
        {% endif %}
        </div>
    </div>


    {% if request.session.langue == 'fr' %}
        <h6>Liste de tous les réglages ou appliquez un tri :</h6>
    {% else %}
        <h6>List all settings or sort by :</h6>
    {% endif %}    
<form method="get" action="{% url 'liste_reglages' %}" class="form-container">
    {% if request.session.langue == 'fr' %}
        <label for="marque">Marque:</label>
    {% else %} 
        <label for="marque">Brands:</label>
    {% endif %}
    <select class="my-select" name="marque" id="marque">
        {% if request.session.langue == 'fr' %}
            <option value="">Toutes les marques</option>
        {% else %}
            <option value="">All brands</option> 
        {% endif %}
        {% for marque in marques %}
            <option value="{{ marque }}" {% if marque == request.GET.marque %}selected{% endif %}>
                {{ marque }}
            </option>
        {% endfor %}
    </select>
    {% if request.session.langue == 'fr' %}
        <label for="modele">Modèle:</label>
    {% else %}
        <label for="modele">models:</label>
    {% endif %}
    <select class="my-select" name="modele" id="modele">
        {% if request.session.langue == 'fr' %}
            <option value="">Tous les modèles</option>
        {% else %}
            <option value="">All models</option> 
        {% endif %}
        {% for modele in modeles %}
            <option value="{{ modele }}" {% if modele == request.GET.modele %}selected{% endif %}>
                {{ modele }}
            </option>
        {% endfor %}
    </select>
    {% if request.session.langue == 'fr' %}
        <label for="piece">Type de Pièces:</label>
    {% else %} 
        <label for="piece">Parts type:</label>
    {% endif %}        
    <select class="my-select" name="piece" id="piece">
        {% if request.session.langue == 'fr' %}
            <option value="">Toutes les pièces</option>
        {% else %} 
            <option value="">All parts</option>
        {% endif %}   
        {% for p in pieces %}
            <option value="{{ p }}" {% if p == request.GET.piece %}selected{% endif %}>
                {{ p }}
            </option>
        {% endfor %}
    </select>
    {% if request.session.langue == 'fr' %}
        <label for="limit">Éléments par page:</label>
    {% else %} 
        <label for="limit">Items per page:</label>    
    {% endif %}    
    <select class="my-select" name="limit" id="limit">
        <option value="10" {% if request.GET.limit == "10" %}selected{% endif %}>10</option>
        <option value="15" {% if request.GET.limit == "15" %}selected{% endif %}>15</option>
        <option value="20" {% if request.GET.limit == "20" %}selected{% endif %}>20</option>
        <option value="25" {% if request.GET.limit == "25" %}selected{% endif %}>25</option>
    </select>
    {% if request.session.langue == 'fr' %}
        <button class="col-1 btn btn-secondary ms-1" type="submit">Appliquer</button>
    {% else %}
        <button class="col-1 btn btn-secondary ms-1" type="submit">Apply</button>
    {% endif %}    
</form>
<input  type="hidden" name="marque" value="{{ request.GET.marque }}">
        <input  type="hidden" name="modele" value="{{ request.GET.modele }}">
        <input  type="hidden" name="piece" value="{{ request.GET.piece }}">
        <input  type="hidden" name="limit" value="{{ request.GET.limit }}">
<!-- Boutons de tri -->
<form method="get" action="{% url 'liste_reglages' %}" class="form-container">
<div class="button-container">
        {% if request.session.langue == 'fr' %}
            <button class="custom-button" type="submit" name="order_by" value="-created_at">Trier par date +</button>
            <button class="custom-button" type="submit" name="order_by" value="created_at">Trier par date -</button>
            <button class="custom-button" type="submit" name="order_by" value="-like_count">Trier par likes +</button>
            <button class="custom-button" type="submit" name="order_by" value="like_count">Trier par likes -</button>
         
        {% else %} 
            <button class="custom-button" type="submit" name="order_by" value="-created_at">sort by date +</button>
            <button class="custom-button" type="submit" name="order_by" value="-created_at">sort by date -</button>
            <button class="custom-button" type="submit" name="order_by" value="-like_count">Sort by likes +</button>
            <button class="custom-button" type="submit" name="order_by" value="-like_count">Sort by likes -</button>
        {% endif %}
</div>
</form>

{% if request.session.langue == 'fr' %}
    <h6>Liste des réglages</h6>

        {% for reglage in reglages %}
        <div class="reglage">
            <p class="titre-reglage">Réglage pour {{ reglage.car }}</p>
            <p class="titre-reglage"> Posté par : <span style="color: red;">{{ reglage.user }}</span> Date : {{reglage.created_at}}</p>
            
            
            <p class="titre-reglage">Description : {{ reglage.description }}</p>
            <div class="like-container">
                <a class="col-2 btn btn-secondary ms-1" href="{% url 'detail_reglage' reglage.id %}">+ de détails</a>
            
                <img src="{% static 'images/likes.png' %}" alt="icône de like" >
                <span> Nb :{{ reglage.like_count }}</span>
                
            </div> 
            </div>
        {% endfor %}
        
    {% if paginator.num_pages > 1 %}
    <div class="container">
        <div class="pagination centered">
            <span class="step-links">
                {% if reglages.has_previous %}
                    <a class="col-6 btn btn-secondary" href="?page={{ reglages.previous_page_number }}">Précédent</a>
                {% endif %}
                <span class="current">
                    Page {{ reglages.number }} / {{ paginator.num_pages }}
                </span>
                {% if reglages.has_next %}
                    <a class="col-6 btn btn-secondary "href="?page={{ reglages.next_page_number }}">Suivant</a>
                {% endif %}
            </span>
        </div>
    </div>
    {% endif %}
{% else %} 
    <h6>List of settings</h6>

            {% for reglage in reglages %}
            <div class="reglage">
                <p class="titre-reglage">Setting for {{ reglage.car }}</p>
                <p class="titre-reglage"> Posted by: <span style="color: red;">{{ reglage.user }}</span> Date : {{reglage.created_at}}</p>
                
                
                <p class="titre-reglage">Description : {{ reglage.description }}</p>
                <div class="like-container">
                    <a class="col-2 btn btn-secondary ms-1" href="{% url 'detail_reglage' reglage.id %}">+ more details</a>
                
                    <img src="{% static 'images/likes.png' %}" alt="icône de like" >
                    <span> Nb :{{ reglage.like_count }}</span>
                    
                </div> 
                </div>
            {% endfor %}
            
        {% if paginator.num_pages > 1 %}
        <div class="container">
            <div class="pagination centered">
                <span class="step-links">
                    {% if reglages.has_previous %}
                        <a class="col-6 btn btn-secondary" href="?page={{ reglages.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ reglages.number }} / {{ paginator.num_pages }}
                    </span>
                    {% if reglages.has_next %}
                        <a class="col-6 btn btn-secondary "href="?page={{ reglages.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% endif %}
{% endif %}
{% endblock %}
