{% extends 'base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'stylesmymaps.css' %}" type="text/css">


    <form method="post">
        {% csrf_token %}
        <select class="my-select" name="modele">
            {% for modele in modeles %}
                <option value="{{ modele }}">{{ modele }}</option>
            {% endfor %}
        </select>
        <button class="col-1 btn btn-secondary ms-1"type="submit">Valider</button>
    </form>



    <div id="form-reglage">
        {% block form_reglage %}
        {% endblock %}
    </div>
{% endblock %}