
{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'stylesmymaps.css' %}" type="text/css">


     <h4>Les données Min et Max pour cette voiture sont pas encore dans la base </h4>
        <a>3 Possibilités  :</a>
        <a>Remplir ce tableau pour le modele concerné </a> <a href="https://docs.google.com/spreadsheets/d/1zn_y79VMwgiwLP1_sCzJlwD2k-o_gmwi67YOpwEp6jQ/edit?pli=1&gid=0#gid=0" target="_blank">ici</a> 
        </br>
        <a>Envoyé des screens de toutes les pages de reglage du modèle a cette email </a><a href="mailto: tduscmaps@gmail.com">tduscmaps@gmail.com</a>
        <br>
        <a>Remplir ce formulaire en entrant toutes les donnees min et max pour les reglages demander</a>
        </br>
        <a> MERCI pour votre contribution, pour des questions contacter moi par email <a>
        </br>
        </br>
        <h6>Configuration du réglage</h6>

       
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enregistrer</button>
        </form>
        
{% endblock %}